if exists (select * from sysobjects where id = object_id(N'fx.getXMLElements') and xtype in (N'FN', N'IF', N'TF'))
	drop function fx.getXMLElements

set quoted_identifier on
go


/*
<documentation>

<summary>
	Returns any valid XML as hierarchical table
</summary>

<parameters>
<param name="XMLData">Source XML data</param>
</parameters>

<returns>
	Table which includes the following columns:
	- NodeId        : autogenerated identifier of node
	- NodeLevel     : node's level in hierarchy
	- ParentNoteId  : reference to parent node id (root has null parent)
	- NodeName      : node name
	- ParentNodeName: name of parent node
	- Value         : node text value (without children)
	- Query         : part of source XML which contains the node data
</returns>

<example>
	-- Example 1: 

	declare @XMLData xml	
	set @XMLData = (select * from fx.Countries for xml path, root('World'))
	select * from fx.getXMLElements(@XMLData)

</example>

<author>
	Alex Zakharov
	Copyright (c) AnjLab 2011, http://anjlab.com. All rights reserved.
	The code can be used for free as long as this copyright notice is not removed.
</author>

</documentation>
*/

create function [fx].[getXMLElements](@XMLData xml) 
returns @Nodes table(
	NodeID int identity(1, 1) primary key clustered,
	ParentNodeID int,
	NodeName nvarchar(64),
	ParentNodeName nvarchar(64),
	NodePosition int,
	[Value] nvarchar(max),
	[Query] xml)
as
begin
	
	insert into @Nodes(ParentNodeName, NodeName, [Value], [Query])
	select 
		e.value('local-name(..)', 'varchar(max)') as ParentNodeName,
		e.value('local-name(.)', 'varchar(max)') as NodeName,
		e.value('text()[1]', 'nvarchar(max)'),
		e.query('.')
	from @XMLData.nodes('//*[local-name(.) > ""]') as n(e)

	-- set parent node id
	update @Nodes set ParentNodeID = b.ParentNodeID
	from @Nodes a
	cross apply (select max(NodeID) as ParentNodeId from @Nodes where NodeID < a.NodeID and NodeName = a.ParentNodeName) b 

	-- Set node position
	update @Nodes set NodePosition = isnull(b.NodePosition, 1)
	from @Nodes a
	left join (
		select NodeId,
			NodePosition = row_number() over(partition by ParentNodeId, NodeName order by NodeId)
		from @Nodes) b on b.NodeID = a.NodeID

	return
end

go

